@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300&display=swap');

.winery-info-container {
 background-color: rgba(238, 213, 24, 0.118);
}

.search-header {
    color: white;
    font-family: 'Darker Grotesque', sans-serif;
    margin-left: 20px;
}

.winery-name {
    color: white;
    font-family: 'Darker Grotesque', sans-serif;
    margin-left: 20px;
    margin-bottom: 5px;
}

.winery-state {
    color: white;
    font-family: 'Darker Grotesque', sans-serif;
    margin-left: 20px;
    margin-top: 0;
    margin-bottom: 5px;
}

.winery-website {
    margin-left: 20px;
}

.search-bar {
    width: 100%;
    height: 30px;
    background-color: rgba(167, 224, 255, 0.153);
}
