/* body {
    background: linear-gradient(90deg, rgba(255,69,13,0.7959558823529411) 0%, rgba(245,65,65,0.8099614845938375) 37%, rgba(255,115,0,0.6979166666666667) 100%);
  } */

.profile-image-container {
    background-color: turquoise;
    background-image: url("../../media/profile.png");
    background-size: 100%;
    border-radius: 50%;
    height: 80px;
    width: 80px;
    margin: 20px;
}

.profile-header-container {
    background-color: rgba(255, 255, 255, 0.632);
    height: auto;
    width: fit-content;
    padding-left: 10px;
    padding-right: 30px;
    border-radius:7%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.user-activity {
    font-size: 15px;
}

.user-activity-image {
    height: 25px;
    width: 25px;
}
